.color {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.colorPreview {
  --color-size: 20px;

  width: var(--color-size);
  height: var(--color-size);
  border-radius: 50%;
}

.colorValue {
  font-size: 11px;
}
