:root {
  --colors-light-gray: #ebebeb;
  --colors-black: #333;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 20px;
  color: var(--colors-black);
}

a {
  color: inherit;
  text-decoration: none;
}