.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  min-height: 100vh;
}

.addTokenContainer {
  margin-top: 12px;
}

.addTokenButton {
  appearance: none;
  background: var(--colors-light-gray);
  border: none;
  cursor: pointer;
  color: inherit;

  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.styledElement {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.select {
  padding: 4px 8px;
  border-radius: 4px;
}
