.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  min-height: 100vh;
}

.element {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.tokenList {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}